<div class="cart1">

    <div class="d-flex justify-content-start ">
      <h5>TOTAL</h5>
    </div>
  
    <div class="d-flex justify-content-between  ">
      <h5>Total Items</h5>
      <span class="price" style="color:black">:</span>
      <h5 class="price " style="color:black">{{totalitems}}</h5>
    </div>


</div>


  <div id="total" class="d-flex justify-content-between bg-secondary ">
    <h5 style="color:white">Order Total</h5>
    <span class="price " style=color:white>:</span>
    <h5 class="price  " style=color:white>{{total}}$</h5>  
 
</div>

